/* @link: https://coolors.co/453a55-9c89b8-f0a6ca-efc3e6-f0d5eb-f0e6ef-f9f1f7-b8bedd */

$english-violet: #453a55ff;
$glossy-grape: #9c89b8ff;
$kobi: #f0a6caff;
$pink-lavender: #efc3e6ff;
$pink-lace: #f0d5ebff;
$pink-lace: #f0d5ebff;
$lavender-blush: #f0e6efff;
$lavender-blush-2: #f9f1f7ff;
$periwinkle-crayola: #b8beddff;